{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная{% endblock %} :: 
            Доска объявлений</title>
        <link rel="stylesheet" href="{% static 'bboard/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Объявления</h1>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Новое объявление</a>
            {% for rubric in rubrics %}
            <a href="{% url 'rubric_bbs' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>