<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная :: Доска объявлений</title>
    </head>
    <body>
        <h1>Объявления</h1>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Новое объявление</a>
            {% for rubric in rubrics %}
            <a href="{% url 'rubric_bbs' rubric.pk %}">{{ rubric.name }}</a>
            {% endfor %}
        </nav>
        {% for bb in bbs %}
        <article>
            <h2>{{bb.title}}</h2>
            <p>{{bb.content}}</p>
            <p><a href="{% url 'rubric_bbs' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
            <p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
        </article>
        {% endfor %}
    </body>
</html>